.hailo_env/
hailo_model_zoo/
*.pt
*.pth
*.onnx
*.har
*.hef
outputs/
hailo_outputs/
calibration_images/
*.whl
.hailo_env/
hailo_model_zoo/
*.whl
*.zip
*.pt
*.pth
*.onnx
*.har
*.hef
outputs/
hailo_outputs/
calibration_images/
